<ion-view view-title="Inscription">

	<ion-content padding="true">
    <form name="registerForm">
      <p>Ici il faudrait préciser que des id/mdp auto-générés seront envoyés par mail</p>
      <div class="list">
        <!--<label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John" name="firstName"></label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Suhr" ng-model="lastName"></label>-->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com" ng-model="email"></label>
        <button class="button button-block button-balanced" on-tap="register(email)">S'inscrire</button>
      </div>
    </form>
	</ion-content>
</ion-view>
