<ion-view view-title="Panier" hide-nav-bar="false" class="emptyHome">

	<ion-nav-title>
		<img src="img/logo.gif" class="logoNavBar">
	</ion-nav-title>

	<!--Title-->
	<div style="margin-top: 70px; padding-top: 5%;" ui-sref='genericCarte'>
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Salades</p>
	</div>

	<div style="padding-top: 5%;" ui-sref='genericCarte'>
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Soupes</p>
	</div>

	<div style="padding-top: 5%;" ui-sref='genericCarte'>
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Sandwiches</p>
	</div>

	<div style="padding-top: 5%;" ui-sref='genericCarte'>
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Desserts</p>
	</div>

	<div style="padding-top: 15%;">
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Valider</p>
	</div>





	

</ion-view>

