<ion-view view-title="Panier" hide-nav-bar="false" class="emptyHome">

	<ion-nav-title>
		<img src="img/logo.gif" class="logoNavBar">
	</ion-nav-title>

	<div style="margin-top: 70px; padding-top: 5%;margin-left: 5%;margin-right: 5%;">
	<div style="background-color: white;padding: 5%;">
		<p class="blueH2" style="text-transform: uppercase;">
			Panier	
		</p>

		<hr style="height: 3px;background-color: #0a4e60;">

		<p class="fontBlue1">
			Le panier est vide
		</p>

		<hr style="height: 2px;background-color: #0a4e60;">

		<p class="blueH2" style="float: left;">
			Total
		</p>	
		<p class="blueH2" style="float: right;">
			0€
		</p>

		<p style="visibility: hidden;">
			lol
		</p>

		<div>
			
		</div>



	</div>

	<p style="text-align: center;letter-spacing: 0.1em;font-family: Source Sans Pro;color: #0a4e60;font-weight: 600;margin-top: 5%;letter-spacing: 4px;">
			Nouvelle carte de <br>paiement
	</p>

	<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;margin-top: 5%;">
			Regler
	</p>
	
	 
	</div>


	

</ion-view>

