<ion-view view-title="Connexion">
	<ion-content padding="true">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">First Name</span>
				<input type="text" placeholder="John" ng-model='firstName'></label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Last Name</span>
				<input type="text" placeholder="Suhr" ng-model='lastName'></label>
			<button class="button button-block button-balanced">Se connecter</button>
		</div>
		<h3>{{firstName}}</h3>
	</ion-content>
</ion-view>