<ion-view view-title="Connexion">
	<ion-content padding="true">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="exemple@domaine.fr" ng-model='email'></label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Mot de passe</span>
				<input type="password" placeholder="azerty" ng-model='password'></label>
			<button class="button button-block button-balanced" on-tap="connect(email, password)">Se connecter</button>
		</div>
	</ion-content>
</ion-view>
