<ion-view view-title="Contact" hide-nav-bar="false" class="emptyHome">

	<ion-nav-title>
		<img src="img/logo.gif" class="logoNavBar">
	</ion-nav-title>

	<div style="margin-top: 70px; padding-top: 5%;margin-left: 5%;margin-right: 5%;">
	<div style="background-color: white;padding: 5%;">
		<p style="text-align: center;letter-spacing: 0.1em;font-family: Source Sans Pro;color: #0a4e60;font-weight: 600;">
			Une question ? Une demande de devis ? Des suggestions ?
		</p>

		<p class="blueBorder blueTitle" style="text-align: center; margin-left:15%;margin-right: 15%;padding: 2%;margin-top: 5%;">
			Contactez-nous
		</p>

		<ion-item style="margin-top: 5%;border-color: #0a4e60;">
<!-- 			<ion-label fixed>Nom et Prénom</ion-label>
			<ion-input type="text" value=""></ion-input> -->
			<input type="text" placeholder="Nom et Prénom">
		</ion-item>

		<ion-item style="margin-top: 5%;border-color: #0a4e60;">
<!-- 			<ion-label fixed>Email</ion-label>
			<ion-input type="text" value=""></ion-input> -->
			<input type="text" placeholder="Email">
		</ion-item>

		<ion-item style="margin-top: 5%;border-color: #0a4e60;">
			<input type="text" placeholder="Message"></textarea>
		</ion-item>

		<p style="text-align: center;letter-spacing: 0.1em;font-family: Source Sans Pro;color: #0a4e60;font-weight: 600;margin-top: 5%;letter-spacing: 0.1em;">
			Ou directement par mail <br>contact@gront.fr
		</p>

	</div>
	
	 
	</div>
	

</ion-view>
