<ion-view view-title="Triporteurs">
  <ion-content>


  <div id="map_div">
    <img id="map_img" src="img/carte_paris.png" />

      <!-- On boucle sur tout les triporteurs -->
      <div ng-repeat="del in cyclos">
      <div class="popup"
        id="popup{{del.id}}_{{del.day_delivery}}"
        style="
          margin-left : {{del.coordx-200}}px;
          top : {{del.coordy}}px">
        <table>
          <tr>
            <td colspan="2">
              <span class="popup_header">POINT DE LIVRAISON PUBLIC</span><br/>
              {{del.address}}<br/>
              à récupérer {{format_time(del)}}
            </td>
          </tr>
          <tr>
            <td class="gmap"><a target="_blank" href="https://www.google.fr/maps/search/{{del.address}}+paris">VOIR SUR GOOGLE MAP</a></td>
            <td class="choose_button" ng-click="choose()">CHOISIR CE POINT DE LIVRAISON</td>
          </tr>
        </table>
      </div>
      <img {{specialEvent(del)}}
          src="img/marker_unselected.png"
          style="margin-left : {{del.coordx-15}}px;
            top : {{del.coordy-40}}px;"
            ng-click="showPopup(del.id + '_' + del.day_delivery)"
          id="img{{del.id}}_{{del.day_delivery}}"
          class="marker day{{del.day_delivery}}"
      />
      </div>
    </div>
  </div>
  <ul class="list">
    <div ng-repeat="day in days">
      <li ng-click="changeDay(day.number)" class="item">{{day.name}}</li>
    </div>
  </ul>


  </ion-content>
</ion-view>
