<ion-view view-title="Triporteurs">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Panier :
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="product in cart">
            <p>
              {{product.title}}
            </p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Choisissez un triporteur :
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="cyclo in cyclos">
            <p>{{cyclo.address}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
