<ion-view view-title="Home" hide-nav-bar="true" class="Home">

	<!--Fermer l'app-->
	<div class="row">
		<i class="icon ion-close-round closeHome"></i>
	</div>

	<!--Logo Gront-->
	<div class="row">
		<img src="img/logo.gif" class="logoGrontHome">
	</div>

	<!--Phrase 1-->
	<div class="row rowHome" style="margin-top: 5%">
		<p class="textHome">Pour vous régaler avec Gront, il y a 3 solutions</p>
	</div>

	<!--Precommendez en ligne -->
	<div class="row" style="margin-top: 5%">
		<div class="col-45 textHome cadre">Pré-commandez en ligne</div>
		<div class="col-35 textHome cadre">Aujourd'hui</div>
		<div class="col-10 textHome cadre">Ok</div>
	</div>

	<!--Solution 1-->
	<div class="row rowHome" style="margin-top: 5%">
			<p class="textHome">A venir récupérer dans nos points de livraison du jour (avant 10h pour le jour même)</p>
	</div>

	<!--Solution 2-->
	<div class="row divFoodtrucks rowHome" style="margin-top: 5%">
		<img src="img/velo.gif" class="imgVelo">
		<p class="textHome textFoodtrucks">Livraison en 30 minutes chez vous</p>
	</div>

	<!--Solution 3-->
	<div class="row divFoodtrucks rowHome" style="margin-top: 5%" ui-sref="connexion">
		<img src="img/foodtrucks.gif" class="imgFoodtrucks">
		<p class="textHome textFoodtrucks">Trouver nos Foodtrucks</p>
		<p class="textHome legendFoodtrucks">Tout nos triporteurs sur Paris</p>
	</div>

  <!--<div class="row">
    <div class="col">
      <button ui-sref="store" class="button button-calm store_link">Boutique</button>
    </div>
  </div>

	<div class="row youpi">
		<div class="col col-50 text-center">
			<button class="button button-balanced" ui-sref="connexion">Connexion</button>
		</div>
		<div class="col col-50 text-center">
			<button class="button button-balanced" ui-sref="inscription">Inscription</button>
		</div>
	</div>-->
</ion-view>
