<ion-view view-title="Acceuil">

	<div style="background-color: black">

		<ion-slide-box show-pager="false" auto-play="true" does-continue="true">
			<ion-slide>
				<img src="img/1.jpg" alt="Image 1" class="full-image" style="opacity: 0.5"></ion-slide>
			<ion-slide>
				<img src="img/2.jpg" alt="Image 1" class="full-image" style="opacity: 0.5"></ion-slide>
			<ion-slide>
				<img src="img/3.jpg" alt="Image 1" class="full-image" style="opacity: 0.5"></ion-slide>
		</ion-slide-box>
	</div>

	<div class="row">
    <div class="col text-center">
      <h2 class="titi">Gront</h2>
    </div>
	</div>


  <div class="row">
    <div class="col">
      <button ui-sref="store" class="button button-calm store_link">Boutique</button>
    </div>
  </div>

	<div class="row youpi">
		<div class="col col-50 text-center">
			<button class="button button-balanced" ui-sref="connexion">Connexion</button>
		</div>
		<div class="col col-50 text-center">
			<button class="button button-balanced" ui-sref="inscription">Inscription</button>
		</div>
	</div>
</ion-view>
