<ion-view view-title="Home" hide-nav-bar="true" class="Home">

	<!--Logo Gront-->
	<div class="row">
		<img src="img/logo.gif" class="logoGrontHome">
	</div>

	<div class="rowHome">
		<img src="img/perso/6-rect.gif" class="imgConnect" style="margin-bottom: 15%;">
		<p class="textInRect21">Nom prénom</p>
		<p class="textInRect23">Email</p>
		<p class="textInRect25">Carte</p>
	</div>

	<div class="rowHome" style="width: 20%; margin-right: 10%;">
	<div style="margin-right: 0%;">
		<img src="img/perso/ok-rect.gif" class="imgConnect">
		<p class="textInRect4">ok</p>
	</div>
	</div>

</ion-view>
