<ion-view view-title="Home" hide-nav-bar="true" class="Home">

	<!--Logo Gront-->
	<div class="row">
		<img src="img/logo.gif" class="logoGrontHome">
	</div>

	<div class="rowHome">
		<img src="img/perso/2-rect+arrow.gif" class="imgConnect" style="margin-bottom: 15%;">
		<p class="textInRect31">Précommander</p>
		<p class="textInRect32">Aujourd'hui</p>
	</div>

	<!--Solution 2-->
	<div class="row divFoodtrucks rowHome" style="margin-top: 5%">
		<img src="img/velo.gif" class="imgVelo">
		<p class="textHome textFoodtrucks">Acheter sur place</p>
	</div>

	<!--Solution 3-->
	<div class="row divFoodtrucks rowHome" style="margin-top: 5%" ui-sref="connexion">
		<img src="img/foodtrucks.gif" class="imgFoodtrucks">
		<p class="textHome textFoodtrucks">Livraison a domicile</p>
	</div>

</ion-view>
