<ion-view view-title="Home" hide-nav-bar="true" class="Home">

	<!--Logo Gront-->
	<div class="row">
		<img src="img/logo.gif" class="logoGrontHome">
	</div>

	<div class="rowHome">
		<img src="img/perso/2-rect+arrow.gif" class="imgConnect" style="margin-bottom: 15%;">
		<p class="textInRect31">Précommander</p>
		<p class="textInRect32">Aujourd'hui</p>
	</div>

	<!--Solution 2-->
	<div class="rowHome" style="margin-top: 30%;">
		<img src="img/perso/point.gif" class="imgConnect" style="margin-bottom:5%;">
		<!--<p class="textHome textFoodtrucks">Acheter sur place</p>-->
	</div>

	<!--Solution 3-->
	<div class="rowHome" ui-sref="connexion">
		<img src="img/perso/bike.gif" class="imgConnect">
		<!--<p class="textHome textFoodtrucks">Livraison a domicile</p>-->
	</div>

	<div class="rowHome" >
		<img src="img/perso/3_bars.gif" style="position: absolute; margin: 0px; left:50%; transform: translate(-50%,0%);">
	</div>
	

</ion-view>
