<ion-view view-title="Home" hide-nav-bar="false" class="emptyHome">

	<ion-nav-title>
		<img src="img/logo.gif" class="logoNavBar">
	</ion-nav-title>

	<ion-scroll>

	<!--Title-->
	<div style="margin-top: 70px; padding-top: 5%;">
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Commande Validée</p>
	</div>

	<div class="fontBlue1" style="margin-left: 25%; margin-right: 25%; margin-top: 70px;text-align: center; padding-top: 5%;">
		<p> Votre commande F456 a été validée et sera prête entre 18h30 et 19h00
		</p>
	</div>

	<div style="margin-top: 70px; padding-top: 5%;" ui-sref="main">
		<!--Insert Image-->
		<p class="blueBorder blueTitle" style="text-align: center; margin-left:25%;margin-right: 25%;padding: 2%;">Retour à l'Accueil</p>
	</div>


	</ion-scroll>
	

</ion-view>
