<ion-view view-title="Paiement">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Numéro de carte</span>
        <input type="tel">
      </label>
      <label class="item item-input">
        <span class="input-label">Date de fin de validité</span>
        <input type="month">
      </label>
      <label class="item item-input">
        <span class="input-label">Cryptogramme visuel</span>
        <input type="tel">
      </label>
      <button ng-click=""
        class="button button-block button-balanced">
        Envoyer
      </button>
    </div>
  </ion-content>
</ion-view>
