.youpi{
  position: absolute;
  bottom: 30px;
}

.titi{
  position: absolute;
  top: 60px;

  font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #090;
  text-align:center;
  width:100%;
  border:1px solid red;
}

.store_link {
  position: absolute;
  top: 120px;
}

.textHome
{
  margin: auto;
  text-align: center;
  position: relative;
  color: white;
  font-size: 100%;
}



.closeHome
{
  color: white;
  position: absolute;
  right: 3%;
  font-size: 150%;
}

.logoGrontHome
{
  padding-top: 4%;
  height: 130px;
  margin: auto;
}

.Home
{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

.divFoodtrucks
{
  position: relative;
}

.textFoodtrucks
{
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 90%;
  top: 40%;
  bottom: 20%:;
  left: 10%;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.legendFoodtrucks
{
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 80%;
  top: 60%;
  bottom: 20%:;
  left: 10%;
  right: 10%;
  text-align: center;
}

.imgFoodtrucks
{
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 81px;
  margin: auto;
}

.imgVelo
{
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 75px;
  margin: auto;
}

.rowHome
{
  margin-top: 50px;
}