.youpi{
  position: absolute;
  bottom: 30px;
}

.titi{
  position: absolute;
  top: 60px;

  font-size: 32px;
  text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #090;
  text-align:center;
  width:100%;
  border:1px solid red;
}

.store_link {
  position: absolute;
  top: 120px;
}

.textHome
{
  margin: auto;
  text-align: center;
  position: relative;
  color: white;
  font-size: 20px;
}



.closeHome
{
  color: white;
  position: absolute;
  right: 3%;
  font-size: 150%;
}

.logoGrontHome
{
  padding-top: 4%;
  height: 130px;
  margin: auto;
}

.logoNavBar
{
  padding-top: 1%;
  height: 95%;
  margin: auto;
}

.Home
{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

.textFoodtrucks
{
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 90%;
  top: 40%;
  bottom: 20%:;
  left: 10%;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.legendFoodtrucks
{
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 80%;
  top: 60%;
  bottom: 20%:;
  left: 10%;
  right: 10%;
  text-align: center;
}

.imgFoodtrucks
{
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 81px;
  margin: auto;
}

.imgVelo
{
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 75px;
  margin: auto;
}

.imgWhiteRect
{
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 70px;
  margin: auto;
}

.imgConnect
{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 30%;
}

.textInRect
{
  margin: 0px;
  position: absolute;
  color: white;
  font-size: 20px;
  top: 30%;
  bottom: 30%
  left: 10%;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.textInRect1 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -23%);
}

.textInRect2 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  top: 77%;
  left: 35%;
  transform: translate(-35%, -77%);
}

.textInRect3 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  top: 77%;
  left: 90%;
  transform: translate(-90%, -77%);
}

.textInRect4 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textInRect21 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
}

.textInRect23 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -41%);
}

.textInRect25 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -76%);
}

.textInRect31 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -23%);
}

.textInRect32 {
  margin: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -77%);
}

.rowHome
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cadre
{
  border: 0px white solid;
  padding: 0px;
}

.mynavbar
{
  height: 70px;
  background-image: url("../img/logo.gif") !important;
  background-size: 90px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: red;
}

.bar-header {
   height: 70px !important; /*just an example*/
   background-image: url("https://gront.fr/wp-content/uploads/2016/03/accueil-bg.jpg") !important;
   background-size: 100% auto !important;
   border: none !important;
}

.has-header {
   top: 70px !important;
}

.bar-header .title {
   line-height: 70px !important;
}

.bar .title {
  height: 70px !important;
}

.back-button {
  margin-top: auto;
  margin-bottom: auto;
}

.emptyHome {
  background-color: #e5e1de;
}

.fontBlue1 {
  color: #0a4e60;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: "Source Sans Pro", Georgia, serif;
  text-align: justify;
  font-size: 17px;
}

.blueTitle {
  color: #0a4e60;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-family: "Source Sans Pro", Georgia, serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.blueH2 {
  color: #0a4e60;
  font-weight: bold;
  line-height: 1.135;
  font-size: 22px;
}

.blueBorder {
  border-style: solid;
  border-width: 7px;
  border-color: #0a4e60;
}